<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento Cajero Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="cajeroForm (titulo)">
        <h2 th:text="${titulo}">Formulario Cajero</h2>
        <div>
            <label for="monto_disponible" class="col-form-label">Monto Disponible:</label>
            <input class="form-control" type="number" id="monto_disponible" name="monto_disponible" required th:value="${cajero.monto_disponible}"><br>
        </div>
        <div>
            <label for="limite_retiro" class="col-form-label">Limite Retiro:</label>
            <input class="form-control" type="number" id="limite_retiro" name="limite_retiro" required th:value="${cajero.limite_retiro}"><br>
        </div>
        <div>
            <label for="numerooficina" class="col-form-label">Numero Oficina:</label>
            <input class="form-control" type="number" id="numerooficina" name="numerooficina" required th:value="${cajero.numerooficina}"><br>
        </div>
    </div>
</body>
</html>
