<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="operacionForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form-label">Id usuario</label>
            <input class="form-control" type="text" id="id_usuario"
            name="id_usuario" required th:value="${operacion.id_usuario}"/>

            <label class="col-form-label">Producto</label>
            <input class="form-control" type="text" id="producto"
            name="producto" required th:value="${operacion.producto}"/>

            <label class="col-form-label">Valor</label>
            <input class="form-control" type="text" id="valor"
            name="valor" required th:value="${operacion.valor}"/>

            <label class="col-form-label">Fecha</label>
            <input class="form-control" type="text" id="fecha_hora"
            name="fecha_hora" required th:value="${operacion.fecha_hora}"/>

            <label class="col-form-label">Tipo</label>
            <select class="form-control" id="tipo"
            name="tipo" required>
            <option value="cuenta" th:selected="${operacion.tipo eq 'cuenta'}">
                Cuenta
            </option>
            <option value="prestamo" th:selected="${operacion.tipo eq 'prestamo'}">
                Prestamo
            </option>
        </select>

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn.primary">
            <a th:href="@{/operaciones}" class="btn btn-primary">Cancelar</a>
        </div>
        </form>
    </div>
</body>
</html>