<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="virtualForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>

        <label class="col-form-label">Plataforma</label>
        <input class="form-control" type="text" id="plataforma"
        name="plataforma" required th:value="${virtual.plataforma}"/>
    </div>
</body>
</html>
