<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cajero</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/cajeros/'+${id}+'/edit/save'}" th:object="${cajero}"
    method="post">
    <div th:replace="~{fragments/cajeroForm :: cajeroForm(titulo='Editar cajero')}" />
    <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn.primary"/>
        <a th:href="@{/cajeros}" class="btn btn-primary">Cancelar</a>
    </div>
</form>
</body>
</html>