<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajeros</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Cajeros</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Monto Disponible</th>
                    <th>Limite de Retiro</th>
                    <th>Numero Oficina</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="cajero: ${cajeros}">
                    <td th:text="${cajero.monto_disponible}"></td>
                    <td th:text="${cajero.limite_retiro}"></td>
                    <td th:text="${cajero.numerooficina}"></td>
                    <td>
                        <a th:href="@{'cajeros/' + ${cajero.id} + '/edit'}">Editar</a>
                        <a th:href="@{'cajeros/' + ${cajero.id} + '/delete'}" onclick="return confirm('¿Estás seguro de eliminar este cajero?')">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{cajeros/new}" class="btn btn-primary">Añadir Punto Presencial</a>
        </div>
    </div>
</body>
</html>