<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <form action="#" th:action="@{/cuentas/new/save}" method="post">
        <div th:replace="~{fragments/cuentaForm :: cuentaForm(titulo='Agregar Cuenta', cuenta=${cuenta})}"></div>
    </form>
</body>
</html>
