<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extracto de Cuenta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Extracto de Cuenta</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Número de Cuenta</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <th:block th:each="operacion:${extracto}">
                <tr>
                    <td th:text="${operacion.id}"></td>
                    <td th:text="${operacion.cuenta}"></td>
                    <td th:text="${operacion.detalle}"></td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/operaciones_cuenta}" class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>
</html>
