<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parranderos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container mx-auto w-25">
        <img th:src="@{/images/logo.png}" width="250"/>
        <div>
            <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
            <a th:href="@{/prestamos}" class="btn btn-primary">Prestamos</a>
            <a th:href="@{/cuentas}" class="btn btn-primary">Cuentas</a>
            <a th:href="@{/clientes}" class="btn btn-primary">Clientes</a>
            <a th:href="@{/puntos_atencion}" class="btn btn-primary">Puntos_atencion</a>
            <a th:href="@{/presenciales}" class="btn btn-primary">Presenciales</a>
            <a th:href="@{/cajeros}" class="btn btn-primary">Cajeros</a>
            <a th:href="@{/virtuales}" class="btn btn-primary">Virtuales</a>
        </div>
    </div>
</body>
</html>