<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1>Información del Cliente</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo de Cliente</th>
                    <th>Nombre de Usuario</th>
                    <th>Número de Cuentas</th>
                    <th>Oficinas</th>
                    <th>Número de Préstamos</th>
                    <th>Saldos de Cuentas</th>
                    <!-- Agrega más columnas según los datos que quieras mostrar -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="infoCliente : ${informacionCliente}">
                    <td th:text="${infoCliente.tipo_cliente}"></td>
                    <td th:text="${infoCliente.nombre_usuario}"></td>
                    <td th:text="${infoCliente.numero_cuentas}"></td>
                    <td th:text="${infoCliente.oficinas}"></td>
                    <td th:text="${infoCliente.numero_prestamos}"></td>
                    <td th:text="${infoCliente.saldos_cuentas}"></td>
                    <!-- Agrega más celdas según los datos que quieras mostrar -->
                </tr>
            </tbody>
        </table>
        <a href="/parranderos/clientes/consultar" class="btn btn-primary">Volver Atrás</a>
    </div>
</body>
</html>
