<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/oficinas/'+${id}+'/edit/save'}" th:object="${oficina}"
    method="post">
        <div th:replace="~{fragments/oficinaForm :: oficinaForm(titulo='Editar Oficina', oficina=${oficina})}">
        </div>
    </form>
</body>
</html>
