<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Operaciones</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Id usuario</th>
                    <th>Producto</th>
                    <th>Valor</th>
                    <th>Fecha y hora</th>
                </tr>
            </thead>
            <th:block th:each="operacion:${operaciones}">
                <tr>
                    <td th:text="${operacion.id}"></td>
                    <td th:text="${operacion.tipo}"></td>
                    <td th:text="${operacion.id_usuario}"></td>
                    <td th:text="${operacion.producto}"></td>
                    <td th:text="${operacion.valor}"></td>
                    <td th:text="${operacion.fecha_hora}"></td>
                    <td>
                        <a th:href="@{operaciones/{id}/edit(id=${operacion.id})}">
                            Editar
                        </a>
                        <a th:href="@{operaciones/{id}/delete(id=${operacion.id})}"
                        onclick="return confirm('¿Estás seguro de eliminar esta operacion')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{operaciones/new}" class="btn btn-primary">Añadir Operacion</a>
        </div>
    </div>
</body>
</html>