<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntos_atencion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Puntos de atención</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo_punto</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <th:block th:each="punto_atencion:${puntos_atencion}">
                <tr>
                    <td th:text="${punto_atencion.id}"></td>
                    <td th:text="${punto_atencion.tipo_punto}"></td>
                    <td th:text="${punto_atencion.direccion}"></td>
                    <td>
                        <a th:href="@{puntos_atencion/{id}/edit(id=${punto_atencion.id})}">
                            Editar
                        </a>
                        <a th:href="@{puntos_atencion/{id}/delete(id=${punto_atencion.id})}"
                        onclick="return confirm('¿Estás seguro de eliminar este punto de atención')">
                            Borrar
                        </a>
                    
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{puntos_atencion/new}" class="btn btn-primary">Añadir Punto_atencion</a>
        </div>
    </div>
</body>
</html>