<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtuales</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Puntos Virtuales</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Plataforma</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="virtual: ${virtuales}">
                    <td th:text="${virtual.id}"></td>
                    <td th:text="${virtual.plataforma}"></td>
                    <td>
                        <a th:href="@{'virtuales/' + ${virtual.id} + '/edit'}">Editar</a>
                        <a th:href="@{'virtuales/' + ${virtual.id} + '/delete'}" onclick="return confirm('¿Estás seguro de eliminar este punto virtual?')">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
            <a th:href="@{virtuales/new}" class="btn btn-primary">Añadir Punto Virtual</a>
        </div>
    </div>
</body>
</html>
